@import '../../../styles/vars';

.container {
  display: flex;
  align-items: center;
  height: 6.2rem;
  padding-left: 24rem;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) -991.9%, #020A18 260.24%);
}