.container {
  display: flex;
  flex-direction: column;
  color: white;
  width: 16rem;
}

.title {
  margin-bottom: 2rem; 
}

.desc {
  font-size: 0.9rem;
  font-weight: 450;
  opacity: 0.6;
}

.website {
  margin-top: 2rem;
}

.soc {
  display: flex;
  gap: 1.5rem;
  margin-top: 1.3rem;
  opacity: 0.6;
}