.container {
  display: flex;
  align-items: center;
  margin-top: 3rem;
}

.select {
  color: white;
  border: none;
  margin-left: 0.5rem;
  outline: none;
  font-size: 0.9rem;
  background: transparent;

  option {
    background-color: inherit;
  }
}
