.container {
  display: flex;
  align-items: center;
  margin-top: 53px;
}

.select {
  color: white;
  border: none;
  margin-left: 8px;
  outline: none;
  font-size: 14px;
  background: transparent;

  option {
    background-color: inherit;
  }
}
