@import '../../../styles/vars';

.container {
  padding-left: 24.2rem;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, $dark-blue -41.9%, rgba(255, 255, 255, 0.2) 560.24%)
}

.image {
  margin-right: 11.4rem;
}

.buttonContainer {
  display: flex;
  gap: 1.5rem;
  margin-top: 3.1rem;
}

.playSVG {
  background: transparent;
}

.logoBlock {
  display: flex;
  gap: 4.3rem;
  margin-top: 5.6rem;
  margin-bottom: 6.2rem;
}

.mainInfo {
  display: flex;
}