@import '../../../styles/vars';

.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 11rem;
  overflow-x: hidden;
}

.children {
  display: flex;
  gap: 1.8rem;
  transition: .7s all;
  width: fit-content;
  padding: 0 1.8rem;
}

.points {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.point {
  cursor: pointer;

  &::after {
    content: '\A';
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: $light-gray;
    display: inline-block;
    margin-right: 0.7rem;
    opacity: 0.5;
  }

  &Active::after {
    content: '\A';
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: $light-gray;
    display: inline-block;
    margin-right: 0.7rem;
    opacity: 1;
  }
}
