@import '../../../styles/vars';

.container {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 2rem;
}

.logo {
  width: 2.7rem;
  height: 3.5rem;
}

.name {
  color: $light-blue;
  font-weight: 600;
  font-size: 1.4rem;
}